<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/index.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>
    <!-- your app's js -->
    <script src="app/app.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/directives.js"></script>
    <script src="app/services.js"></script>
</head>

<body ng-app="starter" ng-controller="MapCtrl">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Live Jersey Bus</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <map on-create="mapCreated(map)"></map>
    </ion-content>
    <ion-footer-bar class="bar-stable">
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
        <ion-checkbox ng-model="autoCenter">Auto center</ion-checkbox>
        <small style="text-align:center; color:tomato">{{statusMessage}}</small>
        <a ng-click="showAbout()" class="button button-clear pull-right">About</a>
    </ion-footer-bar>

</body>
</html>


